.masthead {
  border-bottom: none;
}
.course-header {
  font-size: 20px;
  font-weight: bold;
}
.bannerContainer {
  padding: 0;
  max-height: 363px;
  position: relative;
  background-color: transparent;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    @include breakpoint(inset 0 -4px 8px gray);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
  }
}
.brand:after {
  @include breakpoint($SM) {
    background: url("https://www.bu.edu/cdn/images/logos/masterplate112x50.png") no-repeat 0 0;
    content: "Boston University";
    display: block;
    float: right;
    height: 112px;
    margin: 35px;
    text-indent: -9999em;
    width: 112px;
  }
}
