.primaryNav-menu li {
  li a {
    &:focus, &:hover {
      color: $nato-light-green;
    }
  }
  a {
    &.active, &.active_section {
      color: $nato-light-green;
    }
    &:hover, &:focus {
      color: $nato-light-green;
    }
  }
}
