/******************************************************
 * Begin Sidebar Subnavigation
 *****************************************************/
.widget_bu_pages {
  .widgetTitle {
    border-bottom-width: 2px;
    a {
      color: #4A4A4A;
      display: block;
      font-size: 0.9em;
      &:after {
        content: none;
      }
      &:active,
      &:focus,
      &:hover {
        color: #4A4A4A;
      }
    }
  }
  .page_item a {
    color: gray;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 1em;
    &:after {
      @extend %icon;
      @extend %icon-navigateright;
      position: absolute;
      right: 0.5em;
    }
    &.active,
    &.active_selection,
    &:active,
    &:focus,
    &:hover {
      color: $nato-light-green;
      font-weight: bold;
    }
    &.active,
    &.active_section {
      font-weight: bold;
    }
  }
}
/******************************************************
 * End Sidebar Subnavigation
*****************************************************/
