.custom-widgets {
  @include box-shadow(1px 1px 4px lightgray, -1px 1px 4px lightgray, 1px -1px 4px lightgray);
  @include border-radius(0.125rem);
  overflow: hidden;
  margin: 10px 0;
  .custom-widget-content-wrapper {
    color: white;
  }
  &:hover .custom-widget-content-wrapper {
    color: #679866;
  }
}
.custom-widgets a {
  display: block;
  position: relative;
  &:before {
    @extend %icon;
    display: table-cell;
    min-width: 80px;
    font-size: 2em;
    vertical-align: middle;
    text-align: center;
    color: $nato-light-green;
  }
  div {
    display: table-cell;
    width: 90%;
  }
  &:hover:before {
    color: white;
  }
  .icon:before {
    background-color: $nato-light-green;
    font-size: 30px;
    margin: 0 20px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
  }
}
.custom-widgets {
  &.apply a {
    &:before {
      @extend %icon-compose;
    }
  }
  &.download-brochure a {
    &:before {
      @extend %icon-file;
    }
  }
  &.request-information a {
    &:before {
      @extend %icon-info;
    }
  }
  a {
    color: white;
    overflow: hidden;
    text-decoration: none;
    &:hover {
      background-color: $nato-light-green;
      &:before {
        color: white;
      }
      .custom-widget-content-wrapper {
        background-color: white;
      }
    }
    .custom-widget-content-wrapper {
      background-color: $nato-light-green;
      padding: 10px;
    }
    &:visited {
      color: white;
    }
    &:hover {
      color: $nato-light-green;
      @include transition(background 0.2s ease);
      h2 {
        color: $nato-light-green;
      }
      .custom-widget-content-wrapper {
        background-color: white;
      }
    }
    h2 {
      border-bottom: 2px solid $nato-light-green;
      color: white;
      font-family: $font-family;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.3em;
      margin-bottom: 0.25em;
      margin-top: 0;
    }
    p {
      font-family: $font-family;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.5em;
      margin: 0;
    }
  }
}
.widget-bu-posts .thumb {
  margin-top: 0;
}
.archiveLink,
.postsArchiveLink {
  background-color: $nato-light-green;
  color: white!important;
  &:visited {
    color: white!important;
  }
}
.single-post footer.meta {
  display: none;
}
/******************************************************
 * Begin News Widget
 *****************************************************/
#bu-posts-4 {
  article.post {
    @include box-shadow(2px 2px 2px lightgray, -2px 2px 2px lightgray, 2px -2px 2px lightgray);
    margin: 15px 0;
    padding: 10px;
    .headline a {
      display: block;
      padding-bottom: 0.5em;
      color: #018fd7;
    }
  }
  .excerpt {
    font-family: $font-family;
    font-weight: 300;
    font-size: 13px;
  }
  .widgetTitle {
    font-family: $font-family;
    font-size: 22px;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
    background-color: $nato-light-green;
    padding: 5px 10px;
    border-bottom: none;
    text-align: center;
    cursor: default;
  }
  a {
    font-size: 14px;
    font-weight: normal;
    color: dimgray;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
/******************************************************
 * End News Widget
 *****************************************************/
