.bu_collapsible_section .bu_collapsible_container .bu_collapsible:hover:after {
  border-top-color: #0F69D7;
}
.bu_collapsible_section .bu_collapsible_container .bu_collapsible:after,
.bu_collapsible_section .bu_collapsible_container .bu_collapsible:hover:after {
  border: 8px solid transparent;
  border-top-color: #ccc;
  bottom: 50%;
  content: "";
  height: 0;
  margin-bottom: -4px;
  margin-top: -4px;
  position: absolute;
  right: 10px;
  width: 0;
}
.bu_collapsible_container.bu_collapsible_open .bu_collapsible_section div.bu_collapsible_container.bu_collapsible_open .bu_collapsible:after {
  border: 8px solid transparent;
  border-bottom-color: #ccc;
  content: "";
  height: 0;
  width: 0;
  margin-top: -12px;
  margin-bottom: 0;
  position: absolute;
  right: 10px;
  top: 50%;
}
.bu_collapsible_container.bu_collapsible_open .bu_collapsible_section div.bu_collapsible_container.bu_collapsible_open .bu_collapsible:hover:after {
  border-bottom-color: #0F69D7;
}
article[role="main"] > .bu_collapsible_container {
  border-bottom: 5px solid green;
}
article[role="main"] > .bu_collapsible_container > .bu_collapsible {
  border-bottom: 5px solid green;
  font-weight: bold;
}
article[role="main"] > .bu_collapsible_container > .bu_collapsible:after {
  right: 10px;
}
