.primaryNav-menu li li a:focus,
.primaryNav-menu li li a:hover {
  color: $nato-light-green;
}
.primaryNav-menu li a.active,
.primaryNav-menu li a.active_section {
  color: $nato-light-green;
}
.primaryNav-menu li a:focus,
.primaryNav-menu li a:hover {
  color: $nato-light-green;
}
