/* Color Palette http://www.delica.ca/forum/download/file.php?id=9055 */
$arizona-tan: #5D523C;
$limestone: #D6CAB4;
$desert-sand: #DDBE92;
$nato-green: #3E5B3D;
$trident-green: #394730;
$nato-matt-black: #382225;
$masai-red: #802020;
$nato-light-green: #679866;

$XS: 500px;
$SM: 768px;
$MD: 992px;
$LG: 1200px;

$font-family: "Benton-Sans", "Helvetica Neue", "Helvetica", sans-serif;
